<p style="color: green"><%= notice %></p>

<%= render @manager %>

<div>
  <%= link_to "Edit this manager", edit_manager_path(@manager),class:"btn btn-outline-primary" %> 
  <%= link_to "Back to managers", managers_path,class:"btn btn-outline-success" %>

  <%= button_to "Destroy this manager", @manager, method: :delete,class:"btn btn-danger" %>
</div>
